<div class="gantt-line-milestone-icon"></div>
<div class="gantt-line-milestone-title">
  {{#if (has-block)}}
    {{yield}}

  {{else}}
    <span>{{this.formattedDate}}</span>{{this.title}}

  {{/if}}
</div>
